contourpy==1.3.2
cycler==0.12.1
fonttools==4.58.4
kiwisolver==1.4.8
matplotlib==3.10.3
numpy==2.2.6
packaging==25.0
pillow==11.2.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pyusb==1.3.1
PyVISA==1.15.0
PyVISA-py==0.8.0
six==1.17.0
tomtag==0.13
typing_extensions==4.14.0
polarimeter @ git+https://github.com/FarisRedza/polarimeter@da750729ef66972153a13456451b3edead3b67f0
motor @ git+https://github.com/FarisRedza/motor@ef748462ac34e457806052d22c6c875b30c9c2f0